<!DOCTYPE html>
<html lang="zh-cmn-Hans" class="ua-windows ua-webkit">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw" />
    <title>

攀登者 短评
</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE" />
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
    <meta name="keywords" content="攀登者,影讯,排片,放映时间,电影票价,在线购票"/>
    <meta name="description" content="攀登者短评" />
    <meta name="mobile-agent" content="format=html5; url=http://m.douban.com/movie/subject/30413052/comments"/>
    <script type="text/javascript" src="https://img3.doubanio.com/f/shire/77323ae72a612bba8b65f845491513ff3329b1bb/js/do.js" data-cfg-autoload="false"></script>

    <link rel="apple-touch-icon" href="https://img3.doubanio.com/f/movie/d59b2715fdea4968a450ee5f6c95c7d7a2030065/pics/movie/apple-touch-icon.png">
    <link href="https://img3.doubanio.com/f/shire/52c9997d6d42db58eab418e976a14d5f3eff981e/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img3.doubanio.com/f/shire/ae3f5a3e3085968370b1fc63afcecb22d3284848/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img3.doubanio.com/f/movie/8864d3756094f5272d3c93e30ee2e324665855b0/css/movie/base/init.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img3.doubanio.com/f/movie/0495cb173e298c28593766009c7b0a953246c5b5/js/movie/lib/jquery.js"></script>
    <script type="text/javascript" src="https://img3.doubanio.com/f/shire/1316664523258f7b8b536e4ce45afc9cb37b8963/js/douban.js"></script>
    <script type="text/javascript" src="https://img3.doubanio.com/f/shire/0efdc63b77f895eaf85281fb0e44d435c6239a3f/js/separation/_all.js"></script>
    
    <style type="text/css"></style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="https://img3.doubanio.com/misc/mixed_static/1c6a3ee030c808e7.css">

    <link rel="shortcut icon" href="https://img3.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/2f48733/shire/bundle.css" rel="stylesheet" type="text/css">



<div id="db-global-nav" class="global-nav">
  <div class="bd">
    
<div class="top-nav-info">
  <ul>
    <li>
    <a id="top-nav-doumail-link" href="https://www.douban.com/doumail/">豆邮</a>
    </li>
    <li class="nav-user-account">
      <a target="_blank" href="https://accounts.douban.com/passport/setting/" class="bn-more">
        <span>路演的帐号</span><span class="arrow"></span>
      </a>
      <div class="more-items">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="https://www.douban.com/mine/">个人主页</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/orders/">我的订单</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/wallet/">我的钱包</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://accounts.douban.com/passport/setting/">帐号管理</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.douban.com/accounts/logout?source=movie&ck=oih5">退出</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>

  <div class="top-nav-reminder">
    <a href="https://www.douban.com/notification/" class="lnk-remind">提醒</a>
    <div id="top-nav-notimenu" class="more-items">
      <div class="bd">
        <p>加载中...</p>
      </div>
    </div>
  </div>

    <div class="top-nav-doubanapp">
  <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
  <div id="doubanapp-tip">
    <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 <span class="version">6.0</span> 全新发布</a>
    <a href="javascript: void 0;" class="tip-close">×</a>
  </div>
  <div id="top-nav-appintro" class="more-items">
    <p class="appintro-title">豆瓣</p>
    <p class="qrcode">扫码直接下载</p>
    <div class="download">
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=iOS">iPhone</a>
      <span>·</span>
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=Android" class="download-android">Android</a>
    </div>
  </div>
</div>

    


<div class="global-nav-items">
  <ul>
    <li class="">
      <a href="https://www.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-main&quot;,&quot;uid&quot;:&quot;164698173&quot;}">豆瓣</a>
    </li>
    <li class="">
      <a href="https://book.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-book&quot;,&quot;uid&quot;:&quot;164698173&quot;}">读书</a>
    </li>
    <li class="on">
      <a href="https://movie.douban.com"  data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-movie&quot;,&quot;uid&quot;:&quot;164698173&quot;}">电影</a>
    </li>
    <li class="">
      <a href="https://music.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-music&quot;,&quot;uid&quot;:&quot;164698173&quot;}">音乐</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/location" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-location&quot;,&quot;uid&quot;:&quot;164698173&quot;}">同城</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/group" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-group&quot;,&quot;uid&quot;:&quot;164698173&quot;}">小组</a>
    </li>
    <li class="">
      <a href="https://read.douban.com&#47;?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-read&quot;,&quot;uid&quot;:&quot;164698173&quot;}">阅读</a>
    </li>
    <li class="">
      <a href="https://douban.fm&#47;?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-fm&quot;,&quot;uid&quot;:&quot;164698173&quot;}">FM</a>
    </li>
    <li class="">
      <a href="https://time.douban.com&#47;?dt_time_source=douban-web_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-time&quot;,&quot;uid&quot;:&quot;164698173&quot;}">时间</a>
    </li>
    <li class="">
      <a href="https://market.douban.com&#47;?utm_campaign=douban_top_nav&amp;utm_source=douban&amp;utm_medium=pc_web" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-market&quot;,&quot;uid&quot;:&quot;164698173&quot;}">豆品</a>
    </li>
    <li>
      <a href="#more" class="bn-more"><span>更多</span></a>
      <div class="more-items">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="https://ypy.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-ypy&quot;,&quot;uid&quot;:&quot;164698173&quot;}">豆瓣摄影</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>

  </div>
</div>
<script>
  ;window._GLOBAL_NAV = {
    USER_ID: "164698173",
    UPLOAD_AUTH_TOKEN: "164698173:8130cd807666e17d3d76c6cdd5cdb162d9a37692",
    SSE_TOKEN: "f2eaafd39002d8553c673cc40ff5b7fd5bd6917c",
    SSE_TIMESTAMP: "1569590731",
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/2f48733/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/2f48733/movie/bundle.css" rel="stylesheet" type="text/css">




<div id="db-nav-movie" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https:&#47;&#47;movie.douban.com">豆瓣电影</a>
    </div>
    <div class="nav-search">
      <form action="https:&#47;&#47;movie.douban.com/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">
          </label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" placeholder="搜索电影、电视剧、综艺、影人" value=""></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1002" />
        </fieldset>
      </form>
    </div>
  </div>
  </div>
  <div class="nav-secondary">
    

<div class="nav-items">
  <ul>
    <li    ><a href="https://movie.douban.com/mine"
     >我看</a>
    </li>
    <li    ><a href="https://movie.douban.com/cinema/nowplaying/"
     >影讯&购票</a>
    </li>
    <li    ><a href="https://movie.douban.com/explore"
     >选电影</a>
    </li>
    <li    ><a href="https://movie.douban.com/tv/"
     >电视剧</a>
    </li>
    <li    ><a href="https://movie.douban.com/chart"
     >排行榜</a>
    </li>
    <li    ><a href="https://movie.douban.com/tag/"
     >分类</a>
    </li>
    <li    ><a href="https://movie.douban.com/review/best/"
     >影评</a>
    </li>
    <li    ><a href="https://movie.douban.com/annual/2018?source=navigation"
     >2018年度榜单</a>
    </li>
    <li    ><a href="https://www.douban.com/standbyme/2018?source=navigation"
     >2018书影音报告</a>
    </li>
  </ul>
</div>

    <a href="https://movie.douban.com/annual/2018?source=movie_navigation" class="movieannual2018"></a>
  </div>
</div>

<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/2f48733/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        
    <h1>攀登者 短评</h1>

        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    



<div class="clearfix Comments-hd">
    <ul class="fleft CommentTabs">
            <li>
                <a href="?status=P">看过</a>
            </li>

            <li class="is-active">
                <span>想看(7564)</span>
            </li>
    </ul>
    <div class="fright">
        
        <a href="javascript:;" class="comment_btn j a_collect_btn" name="cbtn-30413052">我来写短评</a>
    </div>
</div>

    
    
    <div class="title_line clearfix color_gray">
        <div class="fleft Comments-sortby">
                <span>热门</span>
                    <a href="?sort=time&status=F">最新</a>
            <a href="follows_comments?status=F">好友</a>
        </div>
    </div>


    <div class="mod-bd" id="comments">
        







    
        
        <div class="comment-item" data-cid="1648569676">
            
    
        <div class="avatar">
            <a title="蘑菇君" href="https://www.douban.com/people/162395704/">
                <img src="https://img1.doubanio.com/icon/user_normal.jpg" class="" />
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">476</span>
                <input value="1648569676" type="hidden"/>
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/162395704/" class="">蘑菇君</a>
                    <span>想看</span>
                <span class="comment-time " title="2019-01-30 13:05:36">
                    2019-01-30
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">配置简直不要太高，期待井柏然与前辈们的合作</span>
        </p>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1910652333">
            
    
        <div class="avatar">
            <a title="🍃" href="https://www.douban.com/people/163867875/">
                <img src="https://img3.doubanio.com/icon/u163867875-1.jpg" class="" />
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">773</span>
                <input value="1910652333" type="hidden"/>
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/163867875/" class="">🍃</a>
                    <span>想看</span>
                <span class="comment-time " title="2019-08-16 10:43:16">
                    2019-08-16
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">感觉这个导演可能是这部片里最大的变数。。。</span>
        </p>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1625581654">
            
    
        <div class="avatar">
            <a title="少年龙侠" href="https://www.douban.com/people/159602869/">
                <img src="https://img3.doubanio.com/icon/u159602869-2.jpg" class="" />
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">360</span>
                <input value="1625581654" type="hidden"/>
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/159602869/" class="">少年龙侠</a>
                    <span>想看</span>
                <span class="comment-time " title="2019-01-13 10:25:04">
                    2019-01-13
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">超级期待吴京和成龙大哥的合作</span>
        </p>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1681085164">
            
    
        <div class="avatar">
            <a title="Skips" href="https://www.douban.com/people/144669078/">
                <img src="https://img3.doubanio.com/icon/u144669078-1.jpg" class="" />
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">308</span>
                <input value="1681085164" type="hidden"/>
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/144669078/" class="">Skips</a>
                    <span>想看</span>
                <span class="comment-time " title="2019-02-17 22:56:53">
                    2019-02-17
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">李仁港可别把它搞砸了啊，多好的题材。</span>
        </p>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1686771033">
            
    
        <div class="avatar">
            <a title="糯米叶" href="https://www.douban.com/people/171252279/">
                <img src="https://img3.doubanio.com/icon/u171252279-3.jpg" class="" />
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">278</span>
                <input value="1686771033" type="hidden"/>
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/171252279/" class="">糯米叶</a>
                    <span>想看</span>
                <span class="comment-time " title="2019-02-21 16:04:13">
                    2019-02-21
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">看了一下那个导演历年作品我好慌啊出了名的喜欢胡编历史，希望他能老老实实还原小学语文课本里那篇课文的全部内容😒</span>
        </p>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1910682393">
            
    
        <div class="avatar">
            <a title="Domini" href="https://www.douban.com/people/145833804/">
                <img src="https://img3.doubanio.com/icon/u145833804-2.jpg" class="" />
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">234</span>
                <input value="1910682393" type="hidden"/>
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/145833804/" class="">Domini</a>
                    <span>想看</span>
                <span class="comment-time " title="2019-08-16 11:09:48">
                    2019-08-16
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">🌚🌚🌚看了下导演的作品有点担心……</span>
                
                <a class="source-icon" href="https://www.douban.com/doubanapp/" target="_blank"><img src="https://img3.doubanio.com/f/shire/c541f3cbc321589b29d7c7b6d00e620243f224d9/pics/comment/iphone.png" title="发自iPhone" alt="iPhone" rel="v:image"/></a>
        </p>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1672570584">
            
    
        <div class="avatar">
            <a title="佳片预定人" href="https://www.douban.com/people/158929330/">
                <img src="https://img1.doubanio.com/icon/u158929330-7.jpg" class="" />
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">211</span>
                <input value="1672570584" type="hidden"/>
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/158929330/" class="">佳片预定人</a>
                    <span>想看</span>
                <span class="comment-time " title="2019-02-13 12:28:43">
                    2019-02-13
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">李仁港…不管了，冲着吴京也要去看</span>
        </p>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1695170242">
            
    
        <div class="avatar">
            <a title="Andy" href="https://www.douban.com/people/176264572/">
                <img src="https://img3.doubanio.com/icon/u176264572-2.jpg" class="" />
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">180</span>
                <input value="1695170242" type="hidden"/>
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/176264572/" class="">Andy</a>
                    <span>想看</span>
                <span class="comment-time " title="2019-02-27 05:02:57">
                    2019-02-27
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">李，李，李仁港来拍？？？</span>
        </p>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1926131586">
            
    
        <div class="avatar">
            <a title="哦都开。。" href="https://www.douban.com/people/199114900/">
                <img src="https://img3.doubanio.com/icon/u199114900-1.jpg" class="" />
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">161</span>
                <input value="1926131586" type="hidden"/>
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/199114900/" class="">哦都开。。</a>
                    <span>想看</span>
                <span class="comment-time " title="2019-08-26 08:08:47">
                    2019-08-26
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">说句实话流浪地球我看的睡着了，战狼2我觉得还是湄公河行动好看，对于吴京电影我也不是很期待</span>
        </p>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1835359663">
            
    
        <div class="avatar">
            <a title="朱恒昌" href="https://www.douban.com/people/157759315/">
                <img src="https://img3.doubanio.com/icon/u157759315-1.jpg" class="" />
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">132</span>
                <input value="1835359663" type="hidden"/>
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/157759315/" class="">朱恒昌</a>
                    <span>想看</span>
                <span class="comment-time " title="2019-06-25 22:44:11">
                    2019-06-25
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">导演看起来不行啊，作品大都不及格</span>
        </p>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1826457301">
            
    
        <div class="avatar">
            <a title="Sunny" href="https://www.douban.com/people/2196303/">
                <img src="https://img3.doubanio.com/icon/u2196303-5.jpg" class="" />
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">106</span>
                <input value="1826457301" type="hidden"/>
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/2196303/" class="">Sunny</a>
                    <span>想看</span>
                <span class="comment-time " title="2019-06-18 13:20:19">
                    2019-06-18
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">怎么说呢，其实按照登山历史来讲，贡嘎山和冈仁波齐，在中国登山史上有着很浓厚的色彩，因为这两座山难度远大于珠峰，一座死亡率奇高，一座因为山形太过立体，难以攀登，尤其是贡嘎山 57年中华全国总工会登山队在登顶后，下山途中不幸4人遇难，连岛国日本人在经历三次，付出多少生命，才成功登顶，所以，题材遍地都是，就看怎么拍，要么骂死，要么神作</span>
        </p>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1828807029">
            
    
        <div class="avatar">
            <a title="小米=qdmimi" href="https://www.douban.com/people/qdmimi19810920/">
                <img src="https://img3.doubanio.com/icon/u1392601-24.jpg" class="" />
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">116</span>
                <input value="1828807029" type="hidden"/>
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/qdmimi19810920/" class="">小米=qdmimi</a>
                    <span>想看</span>
                <span class="comment-time " title="2019-06-20 13:24:56">
                    2019-06-20
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">虽然感觉就是压上一百个小目标也救不了李导，但这个阵容还是把人好吓</span>
        </p>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1625443505">
            
    
        <div class="avatar">
            <a title="Tirry" href="https://www.douban.com/people/138039601/">
                <img src="https://img3.doubanio.com/icon/u138039601-2.jpg" class="" />
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">105</span>
                <input value="1625443505" type="hidden"/>
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/138039601/" class="">Tirry</a>
                    <span>想看</span>
                <span class="comment-time " title="2019-01-13 05:47:30">
                    2019-01-13
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">成龙和吴京在同一部电影中！
心急！</span>
        </p>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1926133334">
            
    
        <div class="avatar">
            <a title="精神分裂症患者" href="https://www.douban.com/people/169696366/">
                <img src="https://img3.doubanio.com/icon/u169696366-4.jpg" class="" />
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">105</span>
                <input value="1926133334" type="hidden"/>
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/169696366/" class="">精神分裂症患者</a>
                    <span>想看</span>
                <span class="comment-time " title="2019-08-26 08:12:00">
                    2019-08-26
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">当年毛主席他老人家亲自接见了珠峰的攀登者 </span>
        </p>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1626195129">
            
    
        <div class="avatar">
            <a title="nkxy" href="https://www.douban.com/people/136876818/">
                <img src="https://img3.doubanio.com/icon/u136876818-3.jpg" class="" />
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">80</span>
                <input value="1626195129" type="hidden"/>
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/136876818/" class="">nkxy</a>
                    <span>想看</span>
                <span class="comment-time " title="2019-01-13 18:03:37">
                    2019-01-13
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">群星璀璨，期待。</span>
        </p>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1746425724">
            
    
        <div class="avatar">
            <a title="听雨观枫" href="https://www.douban.com/people/157500723/">
                <img src="https://img3.doubanio.com/icon/u157500723-3.jpg" class="" />
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">73</span>
                <input value="1746425724" type="hidden"/>
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/157500723/" class="">听雨观枫</a>
                    <span>想看</span>
                <span class="comment-time " title="2019-04-09 02:31:40">
                    2019-04-09
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">期待胡歌</span>
        </p>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1683268081">
            
    
        <div class="avatar">
            <a title="CHn" href="https://www.douban.com/people/165970107/">
                <img src="https://img1.doubanio.com/icon/u165970107-78.jpg" class="" />
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">38</span>
                <input value="1683268081" type="hidden"/>
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/165970107/" class="">CHn</a>
                    <span>想看</span>
                <span class="comment-time " title="2019-02-19 07:43:31">
                    2019-02-19
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">京哥一定要保重身体啊。</span>
        </p>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1678431778">
            
    
        <div class="avatar">
            <a title="步一迟来" href="https://www.douban.com/people/82420923/">
                <img src="https://img1.doubanio.com/icon/user_normal.jpg" class="" />
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">47</span>
                <input value="1678431778" type="hidden"/>
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/82420923/" class="">步一迟来</a>
                    <span>想看</span>
                <span class="comment-time " title="2019-02-16 16:49:39">
                    2019-02-16
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">我就担心李仁港.....这位香港大哥可是虎得很。根据李仁港过往的影片质量，我先把预期往二星放。</span>
        </p>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1688422177">
            
    
        <div class="avatar">
            <a title="蹦擦擦" href="https://www.douban.com/people/163078137/">
                <img src="https://img3.doubanio.com/icon/u163078137-1.jpg" class="" />
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">39</span>
                <input value="1688422177" type="hidden"/>
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/163078137/" class="">蹦擦擦</a>
                    <span>想看</span>
                <span class="comment-time " title="2019-02-22 19:15:35">
                    2019-02-22
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">演员和编剧都不错，导演什么玩意儿？非常期待被打脸。</span>
        </p>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1825056726">
            
    
        <div class="avatar">
            <a title="幻天空蓝" href="https://www.douban.com/people/162677595/">
                <img src="https://img3.doubanio.com/icon/u162677595-2.jpg" class="" />
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">41</span>
                <input value="1825056726" type="hidden"/>
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/162677595/" class="">幻天空蓝</a>
                    <span>想看</span>
                <span class="comment-time " title="2019-06-17 08:35:49">
                    2019-06-17
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">集合了近三年票房得主冠军的阵容，井柏然的《捉妖记》是2015年票房冠军，吴京的《战狼2》是2017年票房冠军，张译的《红海行动》是2018年票房冠军</span>
        </p>
    </div>

        </div>






        <div id="paginator" class="center">
                <span class="first"><< 首页</span>
                <span class="prev">< 前页</span>
                <a href="?start=20&amp;limit=20&amp;sort=new_score&amp;status=F&amp;percent_type=" data-page="" class="next">后页 ></a>
        </div>



<script type="text/javascript" src="https://img3.doubanio.com/f/shire/a14501790b4a2db257dc5be5e37d820e600703c6/js/report_dialog.js"></script>
<link rel="stylesheet" type="text/css" href="https://img3.doubanio.com/f/shire/b45aa277f8b8df40596b96582dafb1ed0a899a64/css/report_dialog.css" />




        
        
    </div>

            </div>
            <div class="aside">
                

    
<p class="pl2">&gt; <a href="https://movie.douban.com/subject/30413052/">去 攀登者 的页面</a></p>

    <div class="indent">
        









<div class="movie-summary">
        <div class="movie-pic"><a  href="https://movie.douban.com/subject/30413052/" ><img alt="攀登者" title="攀登者" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2568577681.webp" rel="v:image" width="100px"></a></div>
    <span class="attrs">
        
            
        <p>
            <span class="pl">导演:</span>
                <a  href="https://movie.douban.com/celebrity/1275585/">李仁港</a>
        </p>

        
            
        <p>
            <span class="pl">主演:</span>
                <a  href="https://movie.douban.com/celebrity/1000525/">吴京</a> / <a  href="https://movie.douban.com/celebrity/1041014/">章子怡</a> / <a  href="https://movie.douban.com/celebrity/1274761/">张译</a> / <a  href="https://movie.douban.com/celebrity/1274628/">井柏然</a> / <a  href="https://movie.douban.com/celebrity/1274477/">胡歌</a> / <a  href="https://movie.douban.com/celebrity/1275934/">王景春</a> / <a  href="https://movie.douban.com/celebrity/1044222/">何琳</a> / <a  href="https://movie.douban.com/celebrity/1314478/">陈龙</a> / <a  href="https://movie.douban.com/celebrity/1314315/">刘小锋</a> / <a  href="https://movie.douban.com/celebrity/1376956/">曲尼次仁</a> / <a  href="https://movie.douban.com/celebrity/1339504/">拉旺罗布</a> / <a  href="https://movie.douban.com/celebrity/1308818/">多布杰</a> / <a  href="https://movie.douban.com/celebrity/1054531/">成龙</a>
        </p>

        
            
        <p>
            <span class="pl">类型:</span>
                剧情, 冒险
        </p>

        
            
        <p>
            <span class="pl">地区:</span>
                中国大陆
        </p>

        
            
        <p>
            <span class="pl">片长:</span>
                125分钟
        </p>

        
            
        <p>
            <span class="pl">上映:</span>
                2019-09-30(中国大陆)
        </p>

        <a  class="trail_link" data-trailer-id="253161" href="https://movie.douban.com/trailer/253161/#content" >预告片</a>
    </span>
</div>



    </div>
    <div id="dale_movie_subject_comments_bottom_right"></div>
    <a href="https://help.douban.com/blackroom">> 豆瓣违规公示</a>

            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    <div id="footer">
            <div class="footer-extra"></div>
        
<span id="icp" class="fleft gray-link">
    &copy; 2005－2019 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about/legal">法律声明</a>
    
    · <a href="https://help.douban.com/?app=movie" target="_blank">帮助中心</a>
    · <a href="https://www.douban.com/doubanapp/">移动应用</a>
    · <a href="https://www.douban.com/partner/">豆瓣广告</a>
</span>

    </div>

    </div>
    <script type="text/javascript" src="https://img3.doubanio.com/misc/mixed_static/59cffa992ad6d140.js"></script>
    
    




    
<script type="text/javascript">
    (function (global) {
        var newNode = global.document.createElement('script'),
            existingNode = global.document.getElementsByTagName('script')[0],
            adSource = '//erebor.douban.com/',
            userId = '164698173',
            browserId = 'uZG6zNr6IdM',
            criteria = '3:/subject/30413052/comments?start=0&amp;limit=20&amp;sort=new_score&amp;status=F',
            preview = '',
            debug = false,
            adSlots = ['dale_movie_subject_comments_bottom_right'];

        global.DoubanAdRequest = {src: adSource, uid: userId, bid: browserId, crtr: criteria, prv: preview, debug: debug};
        global.DoubanAdSlots = (global.DoubanAdSlots || []).concat(adSlots);

        newNode.setAttribute('type', 'text/javascript');
        newNode.setAttribute('src', '//img1.doubanio.com/dDY0Zjl6NS9mL2FkanMvNGQ1MjFiYTY2ZGE0MjE4OTc4YmYyOWZhODVjZDA2ZDdmODAyMTlkMy9hZC5yZWxlYXNlLmpz');
        newNode.setAttribute('async', true);
        existingNode.parentNode.insertBefore(newNode, existingNode);
    })(this);
</script>










    

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '1', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      
    

    <!-- fram74-docker-->

  <script>_SPLITTEST=''</script>
</body>

</html>


